{% extends 'admins/base.html' %}

{% block body_block %} 

<style>
  .card{
    background: #1a191e;
    box-shadow: 10px 10px 19px #0e0f10, -10px -10px 19px #1e1e1e;
  }

  a:hover{
    text-decoration: none;
  }
  i{
    color: #fff!important;
  }
</style>
          <!-- / .main-navbar -->
          <div class="main-content-container container-fluid px-4">
            <!-- Page Header -->
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">Dashboard</span>
                <h3 class="page-title">Blog Overview</h3>
              </div>
            </div>
            <!-- End Page Header -->
            
            <!-- Dark Theme Shortcut Boxes -->
            <div class="row mb-4">
              <div class="col-md-4">
                <a href="{% url 'add-post' %}" class="box-link">
                  <div class="card card-small text-center p-3 text-light">
                    <i class="fas fa-plus fa-3x mb-2 "></i>
                    <h5 class="text-light">Add Blog Post</h5>
                  </div>
                </a>
              </div>
              <div class="col-md-4">
                <a href="{% url 'add-category' %}" class="box-link">
                  <div class="card card-small text-center p-3 text-light">
                    <i class="fas fa-plus fa-3x mb-2 "></i>
                    <h5 class="text-light">Add Category</h5>
                  </div>
                </a>
              </div>
              <div class="col-md-4">
                <a href="{% url 'settings' %}" class="box-link">
                  <div class="card card-small text-center p-3 text-light">
                    <i class="fas fa-cog fa-3x mb-2"></i>
                    <h5 class="text-light">Settings</h5>
                  </div>
                </a>
              </div>
            </div>
            <!-- End Dark Theme Shortcut Boxes -->
   
          </div>
  
{% endblock %}
