{% extends 'admins/base.html' %}

{% block body_block %} 

<style>
  .form-container {
      max-width: 800px;
      margin: auto;
      padding: 2rem;
      box-shadow: 0px 0px 30px 10px #ffffff0a;
      border-radius: 10px;
      background-color: #1a191e;
  }
</style>



<div class="container mt-5">
  <div class="form-container">
    <div class="page-header row no-gutters py-4">
      <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <!-- <span class="text-uppercase page-subtitle">Dashboard</span> -->
        <h3 class="page-title">Settings</h3>
      </div>
    </div>
      <form id="registrationForm" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="">Site Name</label>
       
        
        {{ form.site_name}} 
        <label for="">Site Title</label>
        {{ form.site_title}}<br>
        <label for="">Site Logo</label><br>
        <img width="100px" src="{{site.logo.url}}" alt="{{site.site_title}}">
        {{ form.logo}}<br><br>
        <label for="">Site Icon</label><br>
        <img width="50px" src="{{site.fav_icon.url}}" alt="{{site.site_title}}">
        {{ form.fav_icon}}<br><br>
        <label for="">Facebook Link</label>
        {{ form.fb_link}}<br>
        <label for="">Instagram Link</label>
        {{ form.insta_link}}<br>
        <label for="">Twiter Link</label>
        {{ form.twiter_link}}<br>
        <label for="">Linkdin Link</label>
        {{ form.linkedin_link}}<br>
        <label for="">Pinterest Link</label>
        {{ form.pinterest_link}}<br>
        <input type="submit" class="btn btn-primary" value="Save">

  </form>
  </div>
</div>

<!-- Bootstrap JS -->

{% endblock %}