
{% extends 'frontend/base.html' %}

{% block body_block %}       
<!-- end of mobile-nav -->
 <style>
    .card-img-top{
        height: 35vh;
        width: 100%;
        object-fit: cover;
    }


    .widget{
        WIDTH: 100%;
    }
 </style>

        <div class="container py-4 my-5">

            
            <div class="row">
                <div class="col-12">
                    <div class="bg-dark p-5 mb-5">
                        <div class="row no-gutters">
                            <div class="col-xl-6 border-right border-lg-0 pr-0 pr-xl-5">
                                <h1 class="text-white add-letter-space">{{category.cat_name}}</h1>
                                <div class="breadcrumb-wrap mt-3">
                                    <a href="{% url 'home' %}">Home</a>
                                    <span>/</span>
                                    <span>Category</span>
                                </div>
                            </div>
                            <div class="col-xl-6 pl-0 pl-xl-5 mt-4 mt-xl-0">
                                <div class="categores-links text-capitalize">
                                    <h3 class="text-white add-letter-space mb-3">More Categores:</h3>
                                    {% for category in categories %}
                                    <a class="border" href="{% url 'category' category.slug %}">{{category.cat_name}}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-between">
   {% if posts %}
        {% for post in posts %}

        <div class="col-lg-6 card post-item bg-transparent border-0 mb-5">
            <a href="{% url 'post' post.slug %}">
                <img class="card-img-top rounded-0" src="{{post.image.url}}" alt="">
            </a>
            <div class="card-body px-0">
                <h2 class="card-title">
                    <a class="text-white opacity-75-onHover" href="{% url 'post' post.slug %}">{{post.title}}</a>
                </h2>
                <ul class="post-meta mt-3">
                    <li class="d-inline-block mr-3">
                        <span class="fas fa-clock text-primary"></span>
                        <a class="ml-1" href="#">{{post.date}}</a>
                    </li>
                    <li class="d-inline-block">
                        <span class="fas fa-list-alt text-primary"></span>
                        <a class="ml-1" href="#">{{post.category}}</a>
                    </li>
                </ul>
                <p class="card-text my-4">{{post.desc|safe|striptags|truncatewords:20}}......</p>
                <a href="{% url 'post' post.slug %}" class="btn btn-primary">Read More <img src="images/arrow-right.png" alt=""></a>
            </div>
        </div>
        {% endfor %}

        {% else %}
        <div class="widget bg-dark p-4 text-center mx-auto">
            <br>
            <h2>No Post Found</h2>
            <br>
       </div>

        {% endif %}
        <!-- end of post-item -->
        

</div>

        
{% endblock %}