{% extends 'frontend/base.html' %}

{% block body_block %} 
       
       <style>
       .single-desc img{
            width: 100%!important;
            height: auto!important;
        }
        .form-control{
            border-color:#c40e29 ;
        }
        .comment-form{
            padding: 20px 0;
        }
        .comment-form h3{
            border-bottom:2px solid #c40e29 ;
            display: inline-block;
            padding: 010px 10px 0 0;
        }
       </style>
       
       <div class="container py-4 my-5">
                <div class="row">
    <div class="col-lg-5 col-md-8">

    </div>
</div>
                
                <div class="row justify-content-between">
                    <div class="col-lg-10" >
                        <img class="img-fluid" src="{{post.image.url}}" alt="{{post.title}}">
                     
                        <h1 class="text-white add-letter-space mt-4">{{post.title}}</h1>
                        <ul class="post-meta mt-3 mb-4">
                            <li class="d-inline-block mr-3">
                                <span class="fas fa-clock text-primary"></span>
                                <a class="ml-1" href="#">{{post.date}}</a>
                            </li>
                            <li class="d-inline-block">
                                <span class="fas fa-list-alt text-primary"></span>
                                <a class="ml-1" href="#">{{post.category}}</a>
                            </li>
                        </ul>

                      
                        <div class="single-desc">{{post.desc|safe}}</div>
                        <div class="comment-form">
                            <h2 class="widget-title text-white d-inline-block mt-4">Leave a Comment</h2>
                        <form method="post">
                        <div class="form-group">
                            <input class="form-control bg-dark "  type="text" name="name" id="" placeholder="Your name">
                        </div>
                        <div class="form-group">
                            <input class="form-control bg-dark" type="email" name="name" id="" placeholder="Your Email">
                        </div>
                        <div class="form-group">
                            <textarea name="massage" id="" class="form-control bg-dark" placeholder="Your comment"  rows="5"></textarea>
                        </div>
                        <button type="submit"  class="btn btn-primary">Submit <img src="images/arrow-right.png"  alt=""></button>
                        </form>
       </div>
                    </div>
                </div>
            </div>

{% endblock %}